<header>
        <%= image_tag("logo.png", :alt => "Application Exemple", :class => "round") %>
        <nav class="round">
          <ul>
            <li><%= link_to "Accueil", 'home' %></li>
            <li><%= link_to "Aide", 'help' %></li>
            <li><%= link_to "Inscription", 'signup' %></li>
          </ul>
        </nav>
</header>